body {
  overflow-x: hidden;
}
.pageText {  
  z-index: 1;   
}

.threeContainer {
  position: absolute;
  z-index: 0;      /* position this canvas on top of the other one */
}

.video {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  opacity: 1;
  z-index: -1;
}

.centered {
  position: absolute;
  left: 50%;
  transform: translate(0%, -10vh);
  z-index: 1;
}

