a:visited { 
  text-decoration: none; 
 }

.outlined {
  -webkit-text-stroke: 1px #FFFFFF;
  opacity: 0.3;
  z-index: -1;
}

.centerImg {
  display: flex;
  justify-content: 'center';
  align-items: 'center';
}